body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(34, 193, 195);
  background: linear-gradient(304deg, rgba(34, 193, 195, 1) 0%, rgba(239, 42, 152, 1) 50%, rgba(45, 253, 79, 0.9500393907563025) 100%);
  animation: fadeIn 1s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cv-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #0073e6;
  color: white;
  text-align: center;
  padding: 20px;
  animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.cvBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.cvBox:hover {
  transform: scale(1.05);
}

.cv-section {
  flex: 1;
  min-width: 280px;
  padding: 15px;
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.cv-section__title {
  border-bottom: 2px solid #0073e6;
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: #0073e6;
  position: relative;
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.profile-image img:hover {
  transform: scale(1.1);
}



.card {
  border: 1px solid black;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  margin: 10px;
 
  background-color: #f4f4f4;

}


@media (max-width: 768px) {
  .cvBox {
    flex-direction: column;
  }
}